**/*.ts
**/*.js.map
coverage
.tscache
test-reports.xml
*.tgz
.vscode
.idea
.project
.npmignore
test/
tscommand-*.tmp.txt
.travis.yml
tsconfig.json
tslint.json
Gruntfile.js
addPage.js
getTemplates.js
xunit.xml